@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;700;900&family=Roboto:wght@100;300;400;900&display=swap');

$Hammer: 'Hammersmith One',
sans-serif;
$Playfair: 'Playfair Display',
serif;
$Roboto: 'Roboto',
sans-serif;

$color-btn: #11e2d3;
$color-white: #fff;
$color-text-black: #413d4b;
$color-text-gray: #666666;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

/*------------------Common------------------*/

body {
    position: relative;
    height: 100%;

    font-size: 14px;
    color: $color-text-gray;
    font-family: $Roboto;
    line-height: 22px;
}



.container {

    max-width: 960px;
    margin: 0 auto;
    padding: 0 1em;
}

.btn {
    display: inline-block;
    font-size: 1.1em;
    padding: 0.5em 1em;
    font-family: $Hammer;
    font-weight: 400;
    color: $color-btn;
    border: 2px solid $color-btn;
    border-radius: 3px;
    text-decoration: none;
    letter-spacing: 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-transform: uppercase;

    &:hover {
        border-color: darken($color-btn, 10%);
        color: darken($color-btn, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


.name,
.post {
    font-family: $Roboto;
    color: $color-white;
    cursor: pointer;
    text-decoration: none;
}

.name {
    font-size: 1em;
    margin: 1em 0;
    font-weight: 900;
}

.post {
    font-weight: 300;
    font-size: 0.9em;
    margin-bottom: 1.5em;

}

i {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/*------------------header and logo------------------*/

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    margin-top: 1em;
    z-index: 1000;


    &_menu {}
}

.logo {

    &_link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    &_img {}

    &_span {
        color: $color-btn;
        font-family: $Roboto;
        font-weight: 100;
        font-size: 2em;
        margin-left: .5em;
    }
}

.menu {

    &_item+&_item {
        margin-left: 1.8em;
    }

    &_item {

        text-decoration: none;
        color: $color-white;
        font-family: $Roboto;
        font-weight: 900;
        font-size: 1em;
        text-transform: uppercase;
        transition: all .2s linear;

        &:hover {
            color: $color-btn;

        }

    }

}


/*------------------Intro------------------*/
.intro {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    z-index: -1;
    background: url("img/intro-bg.jpg") center / cover no-repeat;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background: transparent;
        background-image: linear-gradient(to right, #09052f, #0f0f3b, #1a1446, #251952, #311d5e);
        opacity: 0.8;
    }




    &_inner {

        text-align: center;
        max-width: 75%;
        margin: 0 auto;
    }

    &_title {
        color: $color-white;
        font-size: 2.2em;
        font-family: $Playfair;
        font-weight: 900;
        position: relative;
        margin-bottom: 2em;

        &::after {
            content: "";
            display: block;
            width: 3em;
            height: 2px;
            background-color: $color-btn;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 1em;

        }
    }

    &_text {
        font-family: $Roboto;
        font-weight: 300;
        color: $color-white;
        margin-bottom: 2em;
    }

    &_btn {}
}


/*------------------Story------------------*/
.story {

    padding: 5em 0;

    &_inner {
        display: flex;
        justify-content: space-between;
    }

    &_img {
        align-self: center;
    }

    &_text {
        max-width: 540px;
    }

    &_text--title {
        font-size: 1.5em;
        font-family: $Playfair;
        font-weight: 700;
        color: $color-text-gray;
        margin-bottom: 1.5em;
    }

    &_text--paragraph {
        font-family: $Roboto;
        font-weight: 300;
        color: $color-text-gray;
        font-size: 1em;
        margin-bottom: 1.5em;
    }

    &_btn {}
}

/*------------------Video------------------*/
.video {
    background: url("img/video-bg.jpg") center / cover no-repeat;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background: transparent;
        background-image: linear-gradient(to right, #09052f, #0f0f3b, #1a1446, #251952, #311d5e);
        opacity: 0.8;
    }


    &_icon {
        margin-bottom: 2em;
    }

    &_text {
        font-family: $Roboto;
        font-weight: 900;
        font-size: 1.1em;
        color: $color-white;
    }

    &_play {

        text-decoration: none;
    }
}

/*------------------Expertise------------------*/
.expertise {
    padding: 5em 0;
    text-align: center;
    display: flex;

    &_title {
        font-family: $Playfair;
        font-weight: 700;
        font-size: 1.5em;
        color: $color-text-black;
        margin-bottom: 1.2em;
    }

    &_subtitle {
        font-family: $Playfair;
        font-weight: 400;
        font-size: 1em;
        color: $color-text-gray;
        position: relative;
        margin-bottom: 3.5em;

        &::after {
            content: "";
            display: block;
            width: 3em;
            height: 2px;
            background-color: $color-text-gray;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 1em;
            opacity: .5;
        }
    }

    &_content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr 1fr;

    }


}

.expertise-cart:nth-child(3n+2) {

    border-left: 1px solid $color-text-gray;
    border-right: 1px solid $color-text-gray;
    border-color: lighten($color-text-gray, 50%);

}

.expertise-cart:nth-child(-n+3) {

    border-bottom: 1px solid $color-text-gray;
    border-color: lighten($color-text-gray, 50%);

}

.expertise-cart {

    min-width: 260px;
    padding: 2em;




    &_icon {
        align-self: center;
        margin-bottom: 1em;
    }

    &_title {
        font-family: $Roboto;
        font-weight: 900;
        font-size: 1em;
        color: $color-text-black;
        margin-bottom: 1em;
    }

    &_text {
        font-family: $Roboto;
        font-weight: 300;
        font-size: 1em;
        color: $color-text-gray;
        margin-bottom: 1em;
    }
}


/*------------------Team------------------*/

.team {
    padding: 5em 0;
    position: relative;
    width: 100%;
    z-index: -1;
    background: url(img/intro-bg.jpg) center/cover no-repeat;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background: transparent;
        background-image: linear-gradient(to right, #09052f, #0f0f3b, #1a1446, #251952, #311d5e);
        opacity: 0.8;
    }

    &_inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: center;
    }

    &_title {
        font-family: $Playfair;
        font-weight: 700;
        color: $color-white;
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    &_subtitle {
        font-family: $Playfair;
        font-weight: 400;
        color: $color-white;
        font-size: 1em;
        margin-bottom: 4em;

        &::after {
            content: "";
            display: block;
            width: 3em;
            height: 2px;
            background-color: $color-text-gray;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 1em;
            opacity: .5;
        }
    }

    &_slogan {
        font-family: $Roboto;
        font-weight: 300;
        color: $color-white;
        font-size: 1em;
        margin-bottom: 2em
    }
}



.team-list {
    display: flex;
    margin-bottom: 5em;

    &_item+&_item {
        margin-left: 1.5em;
    }

    &_item {

        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $color-white;

        +& {
            margin-left: 20px;
        }

    }

    &_photo {
        align-self: center;
    }



    &_name,
    &_post {

        &:hover {
            color: darken($color-white, 30%)
        }

    }


}


/*------------------Portfolio------------------*/
.portfolio {
    max-width: 100vw;
    width: 100%;
    padding: 5em 0;
    text-align: center;



    &_inner {
        display: flex;
        justify-content: space-between;

    }

    &_title {
        font-family: $Playfair;
        font-weight: 700;
        color: $color-text-black;
        font-size: 1.5em;

    }

    &_see-all {

        font-family: $Roboto;
        font-weight: 300;
        color: $color-text-black;
        font-size: 1em;
        text-decoration: none;

        &:hover {
            color: darken($color-text-black, 50%);
        }
    }



    &_btn {}
}



.exsample {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content;
    margin: 5em 0;
    grid-gap: 1px;


    &_item {
        display: flex;

        position: relative;


        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: transparent;
            background: $color-text-black;
            opacity: 0;
            transition: all 0.4s ease-in-out;
        }

        &:hover:after {
            opacity: 0.5;
        }


    }

    &_img {
        align-self: center;
        width: 100%;
        z-index: -1;
    }

}


/*------------------Quotes------------------*/

.quotes {
    position: relative;
    background: url("img/intro-bg.jpg") center / cover no-repeat;
    padding: 5em 0;
    z-index: -100;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -80;
        background: transparent;
        background-image: linear-gradient(to right, #09052f, #0f0f3b, #1a1446, #251952, #311d5e);
        opacity: 0.8;
    }



    &_inner {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 80%;
        text-align: center;
    }

    &_title {
        font-family: $Playfair;
        font-weight: 400;
        font-size: 100px;
        color: $color-white;
    }

    &_text {
        font-family: $Roboto;
        font-weight: 300;
        color: $color-white;
        font-size: 1.2em;
        margin-bottom: 2em
    }

    &_name {}

    &_post {}

    &_photo {
        display: flex;
        margin-top: 1em;
        align-items: center;

    }
}



.photo-list {
    list-style: none;
    display: flex;
    padding: 0 2em;


    &_item {
        display: flex;
        border-radius: 50%;
    }

    &_item+&_item {
        margin-left: 1em;
    }

    &_img {
        align-self: center;
        height: 48px;
        border-radius: 50%;
    }

    &_img--active {
        height: 72px;
    }
}

.quotes-arrow--left,
.quotes-arrow--right {
    border: solid $color-white;
    border-width: 0 2px 2px 0;
    padding: 10px;

    &:hover {
        border-color: darken($color-white, 30%);
    }
}



/*------------------Feedback-and-client------------------*/

.feedback-and-client {
    padding: 5em 0;

    &_inner {
        display: flex;
        justify-content: space-between;
    }
}



.feedback-form {
    max-width: 40%;
    flex-grow: 1;

    &_title {
        font-family: $Playfair;
        font-weight: 700;
        font-size: 1.2em;
        color: $color-text-black;
        margin-bottom: 2em;

    }

    &_form {
        display: flex;
        flex-direction: column;


        input,
        textarea {
            padding: 1em;
            margin-bottom: 1em;
            width: 100%;
            border: 1px solid lighten($color-text-gray, 50%);

            &:placeholder {

                font-family: $Roboto;
                font-weight: 300;
                font-size: 1em;
                color: $color-text-gray;
            }

            &:focus {
                outline: 1px solid $color-text-gray;
            }
        }



    }

    &_btn {
        width: max-content;

        &:focus {
            outline: none;
        }
    }

}





.client {


    &_title {
        font-family: $Playfair;
        font-weight: 700;
        font-size: 1.2em;
        color: $color-text-black;
        margin-bottom: 2em;
    }

    &_list {
        list-style: none;
        display: grid;
        grid-column-gap: 5em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    &_list-item {
        text-align: center;


    }

    &_link {}

    &_img {}
}

/*------------------Footer------------------*/
.footer {
    position: relative;
    background: url("img/footer-bg.jpg") center / cover no-repeat;
    padding: 5em 0;
    z-index: -100;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -80;
        background: transparent;
        background-image: linear-gradient(to right, #09052f, #0f0f3b, #1a1446, #251952, #311d5e);
        opacity: 0.8;
    }

    &_inner {}

    &_content {
        display: flex;
        margin-bottom: 4em;
    }

    &_logo-slogan {}

    &_slogan {
        font-family: $Roboto;
        font-weight: 300;
        font-size: 1em;
        color: $color-white;
        margin-bottom: 2em;
    }

    &_contact {
        margin: 0 1em;
        }

    &_contact-title {
        font-family: $Roboto;
        font-weight: 900;
        font-size: 1em;
        color: $color-white;
        margin-bottom: 2em;
    }

    &_contact-adress {}

    &_contact-adress,
    &_contact-tel {
        display: flex;
        align-items: center;

    }

    &_contact-logo--geo,
    &_contact-logo--tel {
        align-self: flex-start;
    }

    &_contact-link {
        font-family: $Roboto;
        font-weight: 300;
        font-size: 1em;
        color: $color-white;
        margin-bottom: 2em;
        text-decoration: none;
        padding-left: 1em;
    }

    &_contact-tel {}

    &_contact-logo--tel {}

    &_nav-copy {
        display: flex;
        justify-content: space-between;
    }

    &_copy {
        font-family: $Roboto;
        font-weight: 400;
        font-size: 1em;
        color: $color-white;
    }

    &_menu {}
}



.footer-logo {
    margin-bottom: 1em;

}

.subscribe-social {

    &_title {
        font-family: $Roboto;
        font-weight: 900;
        font-size: 1em;
        color: $color-white;
        margin-bottom: 2em;
    }

    &_form {
        display: flex;
        margin-bottom: 1em;

        input {
            padding: 1em;
            font-family: $Roboto;
            font-weight: 300;
            font-size: 1em;
            color: $color-white;
            background-color: rgba(160, 154, 179, 0);
            border: 1px solid $color-white;

            &:placeholder {

                font-family: $Roboto;
                font-weight: 300;
                font-size: 1em;
                color: $color-white;
            }



            &:focus {
                outline: 1px solid $color-text-gray;
            }

        }

        button {
            margin-left: 1em;
            padding: 0 3em;
            background: rgba(255, 255, 255, 0.5);
            background-image: url("img/paper.png");
            background-position: center;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
        }
    }

    &_icon {
        display: flex;
        list-style: none;
    }

    &_item+&_item {
        margin-left: 0.5em;
    }

    &_link {
        display: inline-block;
        width: 37px;
        height: 37px;
        background-image: url("img/social-sprite.png");
        background-repeat: no-repeat;

    }




    &_link--facebook {
        background-position: 0 0;
    }

    &_link--twiter {
        background-position: -42px 0;
    }

    &_link--drible {
        background-position: -86px 0;
    }

    &_link--inst {
        background-position: -130px 0;
    }

    &_link--google {
        background-position: -172px 0;
    }

    &_link--youtube {
        background-position: -214px 0;
    }

}

.menu {

    &_item {}
}

.footer-menu {

    &_item {}
}


/*------------------Media------------------*/




// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .intro_title {
        line-height: 1.2em;
    }

    .header_inner {
        flex-direction: column;
    }

    .header_menu {
        display: none;
    }

    .story_inner {
        flex-direction: column;
        align-items: center;
    }

    .story_text {
        text-align: center;
        margin-top: 1em;
    }

    .expertise_content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr 1fr 1fr;

    }

    .exsample {


        grid-template-columns: 1fr 1fr;


    }

    .expertise-cart:nth-child(3n+2) {
        border: none;
    }

    .expertise-cart:nth-child(odd) {


        border-right: 1px solid $color-text-gray;
        border-color: lighten($color-text-gray, 50%);

    }

    .expertise-cart:nth-child(-n+4) {
        border-bottom: 1px solid #666666;
        border-color: #e6e6e6;
    }

    .feedback-and-client_inner {

        flex-direction: column;
        align-items: center;
    }

    .client {
        text-align: center;
    }

    .feedback-form {
        text-align: center;
        max-width: 80%;
        order: 2;
        margin-top: 10em;

        &_form {
            display: block;
        }
    }

    .footer {
        &_content {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &_contact {
            order: 2;
            margin-top: 3em;
        }

        &_nav-copy {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}




// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .team-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2em 1em;
        ;
    }

    .team-list_item+.team-list_item {
        margin: 0;
    }

    .exsample_row {
        flex-direction: column;
    }

    .exsample {
        flex-direction: row;
        justify-content: center;
    }

    .footer_logo-slogan {
        display: none;
    }

    .footer_content {
        justify-content: space-around;
    }

    .footer_contact {
        max-width: 40%;
    }

    .footer_nav-copy {
        justify-content: space-around;
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .expertise {


        &_content {
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
        }
    }

    .team-list {

        grid-template-columns: 1fr;
        grid-template-rows: auto;

    }

    .team_subtitle {
        text-align: center;
    }

    .client_list {


        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 2em;
    }

    .photo-list_item+.photo-list_item {
        margin: 0;
    }

    .photo-list_item {
        display: none;


    }

    .photo-list_item--active {
        display: block;

    }

    .exsample {


        grid-template-columns: 1fr;


    }

    .footer_contact {
        max-width: 80%;
    }
}



// Small devices (landscape phones, 320px and up)

@media (max-width: 321px) {
    .container {
        max-width: 310px;
    }

    .intro_title {
        font-size: 1.5em;
    }


    .portfolio {
        &_inner {
            flex-direction: column;


        }

        &_title {
            margin-bottom: 1em;
        }
    }

    .footer_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1em;

    }

    .menu_item+.menu_item {
        margin: 0 0 2em;
    }

    .menu_item {
        margin-bottom: 2em;
    }

    .expertise-cart:nth-child(-n+5) {
        border-bottom: 1px solid #666666;
        border-right: none;
        border-color: #e6e6e6;
    }

    .footer_contact {
        max-width: 80%;
    }
}